<div class="control-group color-entry" id="<%= attribute_id %>">
  <% label_text = label_text + '<br/><span class="field_note">(Click image to select)</span>'.html_safe %>
  <%= form.label attribute, label_text, { :class => "control-label" } %>
  <div class="controls">
    <%= form.text_field attribute, options %>
  </div>
</div>
