body.base { padding-top: 20px; }
h1 { padding-bottom: 0.5em; }
.icon-destroy { background-position: -456px 0; }

.modal {
  width: 574px;
  margin-left: -287px;
}

.modal-body {
  max-height: 500px;
}

.box_relationships {
  margin: 4em 0 8em 0;
}

td.paperclip {
  width: 70px;
}

fieldset {
  .file-input-wrapper {
    margin-left: 8px;
  }
}

.multi-submit {
  margin-left: 8px;
}

.thumbnail {
  display: inline-block;
  vertical-align: middle;
}

.table {
  border-bottom: 1px solid #ddd;
}

.file-input-wrapper {
  i {
    margin: 0 6px 0 -2px;
  }
}

.position_actions {
  .btn {
    padding: 2px 6px;
  }
  .position_value {
    padding: 2px 10px;
  }
}

.field_note {
  font-size: 0.875em;
  font-style: italic;
}

.color_swatch {
  display: block;
  width: 2em;
  height: 2em;
  margin-top: 1em;
  span {
    display: block;
    width: 100%;
    height: 100%;
  }
}

/* Override Bootstrap icon paths so they work with asset pipeline */

[class^="icon-"],
[class*=" icon-"] {
  background-image: image-url("img/glyphicons-halflings.png");
}
.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:focus > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > li > a:focus > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:focus > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"],
.dropdown-submenu:focus > a > [class*=" icon-"] {
  background-image: image-url("img/glyphicons-halflings-white.png");
}

/* For drag-and-drop table row ordering */

tr.hovered {
  background-color: #f5f5f5;
}

.sortable-placeholder {
  background-color: #ccc;
}

/* For image colorpicker */

.lightbox {
  .swatch_box {
    display: none;
    position: absolute;
    top: 0;
    right: -6em;
    width: 4em;
    height: 4em;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    *border: 1px solid #999;
    /* IE6-7 */

    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
            box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
       -moz-background-clip: padding-box;
            background-clip: padding-box;
            
    .swatch {
      width: 100%;
      height: 100%;
      background-color: #fff;
    }
  }
}

.lightbox.colorpicker {
  cursor: crosshair;
  .swatch_box {
    display: block;
  }
}
